services:
  user-service:
    build: ./user-service
    ports:
      - "8001:8001"
    env_file:
      - .env
    restart: unless-stopped

  event-service:
    build: ./event-service
    ports:
      - "8002:8002"
    env_file:
      - .env
    restart: unless-stopped

  feedback-service:
    build: ./feedback-service
    ports:
      - "8003:8003"
    env_file:
      - .env
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "8501:8501"
    environment:
      - USER_SERVICE_URL=http://user-service:8001
      - EVENT_SERVICE_URL=http://event-service:8002
      - FEEDBACK_SERVICE_URL=http://feedback-service:8003
    depends_on:
      - user-service
      - event-service
      - feedback-service
    restart: unless-stopped
